body {
  background-color: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  font-family: "McLaren", sans-serif;
}

.header {
  background-color: #f5ba13;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.header h1 {
  color: #fff;
  font-family: "McLaren", sans-serif;
  font-weight: 200;
}

.note-container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
}

.create-note input, .create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

.add-btn {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.note-card {
  background: #fff;
  border-radius: 7px;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.note-card h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note-card p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.d-flex {
  display: flex;
}

.delete-btn {
  float: right;
  color: #f5ba13;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: bold;
}

.shadow {
  box-shadow: 0 2px 5px #ccc;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  color: #ccc;
}